<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{#each datos}}
      <h1>{{this.name}}</h1>
      <p>Welcome to {{surname}}</p>
  {{/each}}
    {{{body}}}
  <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
  </body>
</html>
